body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    overflow-x: hidden;
}
h2 {
    color: white;
    padding-top: 0;
    margin-top: 0;
}
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15vh;
    background-color: black;
}
#carregarDades {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}
#parametres {
    display: flex;
    flex-direction: column;
    top: 0;
    position: sticky;
}
#buttons {
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#buttons button {
    max-width: 15vw;
    height: 10vh;
    font-size: 16px;
}
#inputBuscador {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#inputBuscador input {
    width: 200px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#inputBuscador input:focus {
    outline: none;
    border: 1px solid #4A90E2;
}

#informacio {
    display: flex;
    justify-content: space-evenly;
}

#chart {
    align-self: flex-start;
    height: auto;
    width:700px;
}

thead {
    height: 40px;
    font-size: 24px;
}
th {
    width: 12vw;
}
th button {
    height: 15px;
    width: 15px;
}
td {
    font-size: 18px;
    text-align: center;
}
#formatTaula {
    display: flex;
    align-items: center;
    justify-content: center;
}
#buttonsTaula {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
#mitjana {
    padding: 0vw 5vw 5vw 5vw; font-size: 2vw; margin: 0 0 0 0;
}