thead {
    height: 40px;
    font-size: 24px;
}
th {
    width: 12vw;
}
th button {
    height: 15px;
    width: 15px;
}
td {
    font-size: 18px;
    text-align: center;
}
#formatTaula {
    display: flex;
    align-items: center;
    justify-content: center;
}
#buttonsTaula {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
#mitjana {
    padding: 0vw 5vw 5vw 5vw; font-size: 2vw; margin: 0 0 0 0;
}